body{
    background-color: #FFF8EC;
    font-family: 'Palatino';
}
.sidenav {
    text-align: center; 
    height: 100%;
    width: 17rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3F5E4A;
    overflow-x: hidden;
    padding-top: 110px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 9px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    border: 1px inset white;

  }
    .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav a:active {
    color: rgb(219, 219, 219);
  }
  
.top {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 35px; /* Increased text to enable scrolling */
    padding: 0px 30px;
    padding-top: 80px;
    padding-left:150px;
}
.pic{
    text-align:center;
    width: 150px;
    height:auto;
    border: 1px solid white;
    border-radius: 10px;
    margin:7px;
}
.green{
    color: #3F5E4A;
}
h1{
    text-transform: uppercase;
    margin-bottom: 1px;
}
.small{
    font-size: 22px;
    color: #30302F;
    padding-top: 0%;
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 30px;
    padding-left:150px;
    margin-top: 2px;
}
center{
    padding-bottom: 25px;
}
.right{
    float: right;
    font-size: 20px;
    padding-top: 12px;
}
.edu{
    font-size: 25px;
}
.sub{
    color: #30302F;
    font-size: 20px;
    padding-left: 40px;
}

@media only screen and (max-width:480px){
   #planet{
        display:none;
       }

      .sidenav{
        width: 14rem;
      }
      .top{
          margin-left:120px;
      }
      .small{
        margin-left:120px;
      }
   }
